body
{
 color: #000;
 background-color: #02df49;	
}

h1
{
 color: #4837dd;
 text-align: center;	
}

h2
{
 color: #9278dd;
 padding-left: 20px;
}

p
{
 padding: 0 10px;	
 margin-bottom: 40px;
}

a
{
 color: #2324df;
 text-decoration: none;
}

button
{
 background-color: grey;
 border-color: silver; 
 margin: 10px;
}

button:hover
{
 background-color: #8c9ccc;
 border-color: silver; 
}

#headerBar
{
 background-color: #1289ff; 
 background-size: 100% auto;
 color: #edfedf;
 position: absolute;
 top: 0;
 left: 0;
 height: 10%;
 width: 100%;
}

#headerBar ul
{
 color: #edfedf;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 margin-top: 0;
 padding-top: 0;
}

#headerBar li
{
 color: #edfedf;
 padding: 5px 20px;
 display: inline-block;	
 margin-top: 0;
 padding-top: 0;
}

#headerBar img
{
 margin: 0;
 padding: 0; 
 height: 60px;
 margin-left: 200px;
}

#siteNavMenuButton
{
 margin-left: 10px;
 
}

#mainMenuButton
{
 margin-left: 300px;
}

#settingsMenuButton
{
 margin-left: 500px;
}

#siteNavMenuScreen
{
 background-color: rgba(240, 240, 240, 0.9);
 display: none;
 z-index: 4;
 z-index: 4;
 position: fixed;
 top: 15%;
 left: 5%;
 height: 75%;
 width: 90%;	
}

#mainMenuScreen
{
 background-color: rgba(240, 240, 240, 0.9);
 display: none;
 z-index: 4;
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;	
 overflow-y: scroll;
}

#advancedSearchOptions
{
 //display: none;	
}

#settingsMenuScreen
{
 background-color: rgba(240, 240, 240, 0.9);
 display: none;
 z-index: 4;
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 overflow-y: scroll; 
}

#mainArea
{
 background-color: #02df49;	
 background-image: url("../rsc/mainBkgd.jpg"); 
 background-size: cover;
 position: absolute;
 top: 10%;
 left: 0;
 height: 90%;
 width: 100%;	
}

#contentArea
{
 background-color: rgba(200, 200, 200, 0.9);
 position: absolute;
 top: 5%;
 left: 5%;
 height: 85%;
 width: 90%;
 overflow-y: scroll;  
}

@media
{	
}

@media
{
}